*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 31px;
  font-family: Helvetica;
  color: #1f3f68;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.8px;
}

.nav__item {
  color: #000;
  font-weight: 400;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 55px;
}

nav {
  display: flex;
}

.banner {
  background: linear-gradient(254deg, #98d0fc 2.46%, #3481d7 93.24%);
  width: 100%;
  text-align: center;
  padding: 40px 80px;

  .title {
    color: #fff;
    text-align: center;
    font-family: Arial;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px;
    letter-spacing: 1.76px;
  }

  .subtitle {
    color: rgba(255, 255, 255, 0.78);
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.8px;
  }
}

input::placeholder {
  transform: translateX(-180%);
}

.bar {
  text-align: center;
  padding: 50px;
}

.search__icon {
  position: absolute;
  transform: translate(80%, 50%);
}

.search__bar {
  border-radius: 10px;
  background: #f4f4f4;
  border-style: none;
  padding: 15px 390px;
}

.container__sections {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contain__title {
  color: var(--blue_03, #356ead);
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
}

.width__contain {
  width: 940px;
}

.popular,
.articles {
  display: grid;
  grid-template-columns: 1fr;
  place-self: center;
}

.popular__title {
  color: var(--blue_03, #356ead);
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  padding-bottom: 20px;
}

.popular__text h2 {
  color: var(--Blue_01, #1f3f68);
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 1.44px;
}

.popular__text {
  padding-right: 20px;
}

.popular__item .popular__img {
  padding-left: 25px;
}

.popular__text .popular__description {
  color: #000;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
  padding: 17px 0 20px 0;
}

.author {
  color: var(--Blue_01, #1f3f68);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.56px;
}

.date {
  color: var(--Blue_01, #1f3f68);
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
}

.popular__item {
  display: grid;
  grid-template-columns: 40% 60%;
  padding-bottom: 30px;
}

.popular__info {
  display: flex;
  justify-content: space-between;
}

.popular__two {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.popular__text__two h2 {
  color: var(--Blue_01, #1f3f68);
  font-family: Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.88px;
  margin-top: 13px;
}

.popular__description__two {
  color: rgba(0, 0, 0, 0.6);
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
  margin: 12px 0 33px 0;
}

.container__icons {
  display: flex;
  gap: 30px;
}

h3 {
  color: var(--blue_03, #356ead);
  text-align: right;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
  display: flex;
  justify-content: end;
  padding: 40px 0 30px 0;
}

.article__title {
  color: var(--blue_03, #356ead);
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  margin: 50px 0 20px 0;
}

.articles__description {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 20px;
}

.article__text h4 {
  color: var(--Blue_01, #1f3f68);
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.72px;
}

.article__text p {
  color: rgba(0, 0, 0, 0.6);
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
}

.article__info {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.article__info .author {
  color: var(--Blue_01, #1f3f68);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.56px;
}

.article__icons {
  display: flex;
  gap: 30px;
}

.direction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.direction p {
  color: var(--blue_03, #356ead);
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  display: flex;
  gap: 20px;
  margin: 20px 0 60px 0;
}

footer {
  background: var(--blue_02, #316099);
}

.footer__title {
  color: var(--white, #fff);
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px; /* 127.778% */
  letter-spacing: 1.8px;
  margin-bottom: 32px;
}

.footer__text {
  color: var(--white, #fff);
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.8px;
  opacity: 0.6;
}

.section__one {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 91px 213px;
  align-items: center;
}

.footer__text__one {
  width: 460px;
}

.btn__footer {
  width: 220px;
  height: 56px;
  background: #5a98d0;
  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
  border-style: none;
}

.section__two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
}
.section__two__info {
  color: var(--white, #fff);
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.8px;
  width: 299px;
  padding: 98px 0;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
}

.title__info__logo{
  color: #FFF;
font-family: Gilroy;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 46px; /* 164.286% */
letter-spacing: 0.56px;
}

.title__info {
  color: var(--white, #fff);
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  letter-spacing: 1px;
}

.copyrigth{
  color: var(--white, #FFF);
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: 0.8px;
opacity: 0.4;
margin-left: 213px;
padding-bottom: 63px;
}